<h1> Select Route </h1>

<div id="mapid"></div>

<script type="text/javascript">
	initMap(); // this is your function in .js file
</script>

<br>
<table>
	<tr>
		<th>Starting point </th>
		<th>Ending point</th>
	</tr>
 
	<% @cartRoutes.each do |cart_route| %>

			<tr>
				<td><%= cart_route.startPoint %></td>
				<td><%= cart_route.endPoint %></td>
			</tr>
		<script type="text/javascript">
			var coordinates = <%= cart_route.coordinates.to_json.html_safe %>; // for integer
			// console.log(coordinates);
			calculateAndDisplayRoute(coordinates); // this is your function in .js file
		</script>

	<% end %>
</table>

<br>
<%= form_for @trip, url: {action: "create"}, method: "POST" do |form| %>
	<div style="display:none">
		<%= form.text_field :trip_id, :value => @trip.id %>
	</div>
	<% routeOpts = [["Select a Trip" , nil]]; %>	
	<% @cartRoutes.each do |cart_route| %>
		<% routeOpts += [[cart_route.startPoint + " to " + cart_route.endPoint, cart_route.id]]; %> 
	<% end %>
	<%= form.select :cart_route_id , options_for_select(routeOpts, selected: ["Select a Trip", nil])%>
	<%= form.button "Start Trip", :type => "button", :onclick => "formCheck('" + form.options[:html][:id] + "');" %>
<% end %>

<%= javascript_include_tag "new" %>
