<h1> Select Route </h1>

<div id="mapid"></div>

<%= javascript_include_tag "map" %>
<%= javascript_include_tag "new" %>
<script type="text/javascript">
	initMap(); // this is your function in .js file
</script>


<%= form_for @trip, url: {action: "create"}, method: "POST" do |form| %>
  <div style="display:none">
    <%= form.text_field :trip_id, :value => @trip.id %>
  </div>
  
  <div>
    <h2>Routes</h2>
    <table>
      <tr>
        <th>Start</th>
        <th>End</th>
      </tr>
      <div>
        <% @cartRoutes.each do |cart_route| %>
          <tr>
            <td><%= cart_route.startPoint %></td>
            <td><%= cart_route.endPoint %></td>
            <td><button type='button'>show</button></td>
            <div style="display:none">
              <%= form.text_field :cart_route_id, :value => cart_route.id %>
              <script type="text/javascript">
                var coordinates = <%= cart_route.coordinates.to_json.html_safe %>; // for integer
                // console.log(coordinates);
                calculateAndDisplayRoute(coordinates); // this is your function in .js file
              </script>
            </div>
             
          </tr>
        <% end %>
      </div>
    </table>
    <%= form.submit 'submit' %>
  </div>


<% end %>

