<h1> Select Route </h1>

<%= render 'map' %>

<table>
  <tr>
    <th>Starting point </th>
    <th>Ending point</th>
  </tr>
 
  <% @cartRoutes.each do |cart_route| %>
    <tr>
      <td><%= cart_route.startPoint %></td>
      <td><%= cart_route.endPoint %></td>
      <% cart_route.coordinates.each do |coordinate| %>
          <td>(<%= coordinate.lat %>, </td>
          <td><%= coordinate.lng %>)</td>
      <% end %>
      
      
    </tr>
  <% end %>
</table>

<!--<script>-->
<!--function attachInstructionText(marker, text) {-->
<!--  google.maps.event.addListener(marker, 'click', function() {-->
<!--    stepDisplay.setContent(text);-->
<!--    stepDisplay.open(map, marker);-->
<!--  });-->
  
<!--</script>-->
        