<head>
  <%= javascript_include_tag "pickup" %>
  <%= javascript_include_tag "transit" %>
</head>
<body onload="initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>, '<%= @route.startPoint %>'); update({lat:<%= @end.lat %>, lng:<%= @end.lng %>}, [{lat:<%= @end.lat %>, lng:<%= @end.lng %>}, {lat:<%= @start.lat %>, lng:<%= @start.lng %>}], false)">
  <header>
    <h1>TAMUber Students</h1>
  </header>
  <main>
    <h1>Go To The Pickup Location</h1>

    <div id="mapid" data-test-env="<%= Rails.env.test? %>"></div>
    <table class="no_headers">
      <tr>
        <th>Pickup location</th>
        <td><%= @route.startPoint %></td>
      </tr>
      <tr>
        <th>Destination</th>
        <td><%= @route.endPoint %></td>
      </tr>
      <tr>
        <th>Cart Number</th>
        <td><%= @cartNum %></td>
      </tr>
      <tr>
        <th>ETA</th>
        <td id="eta">TBD</td>
      </tr>
    </table>


    <form>
     
      <button id="startbtn" type="button" style="visibility: hidden;" onclick="startTrip()">Start Trip</button>
    </form>
  </main>
    <script type="text/javascript">
      initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>, '<%= @route.startPoint %>') // this is your function in .js file
    </script>


</body>
