<head>
  <%= javascript_include_tag "pickup" %>
</head>
<body onload="initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>, '<%= @route.startPoint %>')">
  <header>
    <h1>TAMUber Students</h1>
  </header>
  <main>
    <h1>Go To Pickup Location</h1>

    <div id="mapid" data-test-env="<%= Rails.env.test? %>"></div>
    <center><button type="button" class='btn btn-secondary btn-xs' onclick="calcRoute(<%= @start.lat %>, <%= @start.lng %>)">Toggle directions</button></center>
    <table class="no_headers">
      <tr>
        <th>Pickup location</th>
        <td><%= @route.startPoint %></td>
      </tr>
      <tr>
        <th>Destination</th>
        <td><%= @route.endPoint %></td>
      </tr>
      <tr>
        <th>Cart Number</th>
        <td><%= @cartNum %></td>
      </tr>
      <tr>
        <th>ETA</th>
        <td>TBD</td>
      </tr>
    </table>


    <form>
     
      <button id="startbtn" type="button" class='btn btn-primary' onclick="startTrip()">Start</button>
    </form>
  </main>
    <script type="text/javascript">
      initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>, '<%= @route.startPoint %>') // this is your function in .js file
    </script>


</body>
