<body onload="initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>, '<%= @route.startPoint %>')">
  <header>
    <h1>TAMUber Students</h1>
  </header>
  <main>
    <h1>Go To Pickup Location</h1>

    <div id="mapid" data-test-env="<%= Rails.env.test? %>"></div>

    <table class="no_headers">
      <tr>
        <th>Pickup location</th>
        <td><%= @route.startPoint %></td>
      </tr>
      <tr>
        <th>Destination</th>
        <td><%= @route.endPoint %></td>
      </tr>
      <tr>
        <th>Cart Number</th>
        <td>TBD</td>
      </tr>
      <tr>
        <th>ETA</th>
        <td>TBD</td>
      </tr>
    </table>

    <form>
      <button type="button" onclick="calcRoute(<%= @start.lat %>, <%= @start.lng %>)">Toggle Directions</button>
      <button type="button" onclick="alert('starting')">Start</button>
    </form>
  </main>
</body>
